@{
    ViewBag.Title = "Breakfast Order";
    Layout = null;
}

@model IEnumerable<SelectListItem>

<h2>Breakfast order</h2>

@using (Html.BeginForm())
{
    <p>Your name: @Html.TextBox("fullName")</p>
    <p>Room number: @Html.TextBox("roomNumber")</p>
    <p>
        What would you like for breakfast?
        <br/><br/>
        @foreach (var item in Model)
        {
            @Html.CheckBox("breakfastItems", false, new { value = item.Value }) @item.Text<br/>
        }
    </p>
    <p>When: @Html.TextBox("time")</p>
    <p>
        <input type="submit" value="Order"/>
    </p>
}
