<h2>Breakfast Order</h2>
<br/>
<p>Good morning @ViewBag.FullName!</p>
<p>You have ordered: @ViewBag.OrderedItems.</p>
<p>Total Price: <b>@ViewBag.TotalPrice</b></p>
<p>
    Your order will be prepared and delivered to room 
    @ViewBag.RoomNumber, @ViewBag.Time.
</p>